In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect(':memory:')

In [3]:
con.enable_load_extension(True)

In [4]:
con.load_extension("C:/Users/eugen/Desktop/Jupytier_Notebook/school-ds/sqlean-win-x64/stats.dll")

https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html

In [5]:
data = pd.read_csv('boston.csv')
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
data.to_sql('boston', con, index=False, if_exists='replace')

506

In [7]:
pd.read_sql(
    '''
    SELECT * FROM boston
    limit 5
    ''',
    con,
)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [8]:
tasks = 0

### –í—Å–µ –∑–∞–¥–∞–Ω–∏—è –Ω—É–∂–Ω–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Ç–æ–ª—å–∫–æ —Å –ø–æ–º–æ—â—å—é sql

1. –í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –ø–æ –∫–æ–ª–æ–Ω–∫–∞–º CRIM, ZN, INDUS, CHAS, NOX (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏, –∫–æ–ª-–≤–æ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π)

In [9]:
tasks+=1
pd.read_sql(
    '''
    SELECT COUNT(CRIM) AS CRIM, COUNT(ZN) AS ZN, COUNT(INDUS) AS INDUS, COUNT(CHAS) AS CHAS, COUNT(NOX) AS NOX
    FROM boston
    WHERE CRIM IS NULL OR ZN IS NULL OR INDUS IS NULL OR CHAS IS NULL OR NOX IS NULL
    ''',
    con,
)

   CRIM  ZN  INDUS  CHAS  NOX
0     0   0      0     0    0

2. –í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –ø–æ –∫–æ–ª–æ–Ω–æ–∫–∞–º CRIM, ZN, INDUS, CHAS, NOX (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏, –∫–æ–ª-–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π)

In [10]:
tasks+=1
pd.read_sql(
    '''
    SELECT COUNT(DISTINCT Uniq_CRIM) as CRIM, COUNT(DISTINCT Uniq_ZN) as ZN, 
    COUNT(DISTINCT Uniq_INDUS) as INDUS, COUNT(DISTINCT Uniq_CHAS) as CHAS, COUNT(DISTINCT Uniq_NOX) as NOX
    FROM (
    SELECT CRIM, ZN, INDUS, CHAS, NOX,
    rank() over(order by CRIM) as Uniq_CRIM,
    rank() over(order by ZN) as Uniq_ZN,
    rank() over(order by INDUS) as Uniq_INDUS,
    rank() over(order by CHAS) as Uniq_CHAS,
    rank() over(order by NOX) as Uniq_NOX
    FROM boston)
    ''',
    con,
)

   CRIM  ZN  INDUS  CHAS  NOX
0   504  26     76     2   81

3. –í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–æ–Ω–∫–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö –º–µ–¥–∏–∞–Ω–∞ —Ä–∞–≤–Ω–∞ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–º—É –∑–Ω–∞—á–µ–Ω–∏—é (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏) –≤—ã–±–∏—Ä–∞—è –∏–∑ CRIM, ZN, INDUS, CHAS, NOX.
–ù–∞–ø–∏—à–∏—Ç–µ –∫–∞–∫–æ–π –≤—ã–≤–æ–¥ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ –¥–∞–Ω–Ω—ã–º –≤ —ç—Ç–∏—Ö –∫–æ–ª–æ–Ω–∫–∞—Ö

In [11]:
tasks+=1
pd.read_sql(
    '''
    SELECT median(CRIM) AS median_CRIM, median(ZN) AS median_ZN, 
    median(INDUS) AS median_INDUS, median(CHAS) AS median_CHAS, median(NOX) AS median_NOX
    FROM boston
    ''',
    con,
)

   median_CRIM  median_ZN  median_INDUS  median_CHAS  median_NOX
0      0.25651        0.0          9.69          0.0       0.538

In [12]:
pd.read_sql(
    '''
    SELECT ZN, CHAS
    FROM boston
    ''',
    con,
)

       ZN  CHAS
0    18.0   0.0
1     0.0   0.0
2     0.0   0.0
3     0.0   0.0
4     0.0   0.0
..    ...   ...
501   0.0   0.0
502   0.0   0.0
503   0.0   0.0
504   0.0   0.0
505   0.0   0.0

[506 rows x 2 columns]

–ü–æ —Å—Ç–æ–ª–±—Ü—É ZN –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –≤—ã–≤–æ–¥ –æ —Ç–æ–º, —á—Ç–æ –≤—ã–¥–µ–ª–µ–Ω–æ –æ—á–µ–Ω—å –º–∞–ª–æ —É—á–∞—Å—Ç–∫–æ–≤ —Å–≤—ã—à–µ 25000 –∫–≤. –º. –ø–æ–¥ –∂–∏–ª—É—é –∑–∞—Å—Ç—Ä–æ–π–∫—É. –ü–æ —Å—Ç–æ–ª–±—Ü—É CHAS –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –≤—ã–≤–æ–¥ –æ —Ç–æ–º, —á—Ç–æ –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏ –Ω–µ—Ç —É—á–∞—Å—Ç–∫–æ–≤, –≥—Ä–∞–Ω–∏—á–∞—â–∏—Ö —Å —Ä–µ–∫–æ–π –ß–∞—Ä–ª—å–∑.

4. –í—ã–≤–µ–¥–∏—Ç–µ —Ä–∞–∑–Ω–∏—Ü—É –º–µ–∂–¥—É —Å—Ä–µ–¥–Ω–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –∫–æ–º–Ω–∞—Ç(RM) –≤ –¥–æ–º–∞—Ö —Å —Å–∞–º–æ–π –¥–æ—Ä–æ–≥–æ–π —Å—Ç–æ–∏–º–æ—Å—Ç—å—é(MEDV) –∏ 25 —Å–∞–º—ã–º–∏ –¥–µ—à–µ–≤—ã–º–∏ –¥–æ–º–∞–º–∏. 
–ê–Ω–∞–ª–æ–≥–∏—á–Ω–æ –ø–æ 50, 100, 200, 300 —Å–∞–º—ã–º–∏ –¥–µ—à–µ–≤—ã–º–∏ –¥–æ–º–∞–º–∏. (–∫–æ–ª-–≤–æ –¥–æ–º–æ–≤(25,50,100,200,300), —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª-–≤–æ –∫–æ–º–Ω–∞—Ç –≤ –Ω–∏—Ö, —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª-–≤–æ –∫–æ–º–Ω–∞—Ç –≤ —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö, —Ä–∞–∑–Ω–∏—Ü–∞).
–ù–∞–ø–∏—à–∏—Ç–µ –≤–ª–∏—è–µ—Ç –ª–∏ –∫–æ–ª-–≤–æ –∫–æ–º–Ω–∞—Ç –Ω–∞ —Å—Ç–æ–∏–º–æ—Å—Ç—å –∏ –∫–∞–∫ —Å–∏–ª—å–Ω–æ.

In [13]:
tasks+=1
pd.read_sql(
    '''
    SELECT (
    (SELECT avg(RM) as mean_rm_max_cost
    FROM (SELECT MEDV, RM, rank() over(order by MEDV desc) as avg_max_cost
    FROM boston)
    WHERE avg_max_cost = 1) -
    (SELECT avg(RM) as avg_25_min_cost
    FROM (SELECT MEDV, RM
    FROM boston 
    order by MEDV limit 25))) as Difference
    UNION ALL
    SELECT (
    (SELECT avg(RM) as mean_rm_max_cost
    FROM (SELECT MEDV, RM, rank() over(order by MEDV desc) as avg_max_cost
    FROM boston)
    WHERE avg_max_cost = 1) -
    (SELECT avg(RM) as avg_50_min_cost
    FROM (SELECT MEDV, RM
    FROM boston 
    order by MEDV limit 50)))
    UNION ALL
    SELECT (
    (SELECT avg(RM) as mean_rm_max_cost
    FROM (SELECT MEDV, RM, rank() over(order by MEDV desc) as avg_max_cost
    FROM boston)
    WHERE avg_max_cost = 1) -
    (SELECT avg(RM) as avg_100_min_cost
    FROM (SELECT MEDV, RM
    FROM boston 
    order by MEDV limit 100)))
    UNION ALL
    SELECT (
    (SELECT avg(RM) as mean_rm_max_cost
    FROM (SELECT MEDV, RM, rank() over(order by MEDV desc) as avg_max_cost
    FROM boston)
    WHERE avg_max_cost = 1) -
    (SELECT avg(RM) as avg_200_min_cost
    FROM (SELECT MEDV, RM
    FROM boston 
    order by MEDV limit 200)))
    UNION ALL
    SELECT (
    (SELECT avg(RM) as mean_rm_max_cost
    FROM (SELECT MEDV, RM, rank() over(order by MEDV desc) as avg_max_cost
    FROM boston)
    WHERE avg_max_cost = 1) -
    (SELECT avg(RM) as avg_300_min_cost
    FROM (SELECT MEDV, RM
    FROM boston 
    order by MEDV limit 300)))
    ''',
    con,
)

   Difference
0    1.736160
1    1.730760
2    1.596880
3    1.572295
4    1.511773

–ò—Å—Ö–æ–¥—è –∏–∑ –ø–æ–ª—É—á–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤–∏–¥–Ω–æ, —á—Ç–æ —Å —É–≤–µ–ª–∏—á–µ–Ω–∏–µ–º –≤—ã–±–æ—Ä–∫–∏ –≤ —Å—Ç–æ—Ä–æ–Ω—É –±–æ–ª–µ–µ –¥–æ—Ä–æ–≥–∏—Ö –¥–æ–º–æ–≤, —Ä–∞–∑–Ω–∏—Ü–∞ –º–µ–∂–¥—É —Å—Ä–µ–¥–Ω–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –∫–æ–º–Ω–∞—Ç —É–º–µ–Ω—å—à–∞–µ—Ç—Å—è. –≠—Ç–æ –≥–æ–≤–æ—Ä–∏—Ç –æ —Ç–æ–º, —á—Ç–æ —Ü–µ–Ω–∞ –≤–ª–∏—è–µ—Ç –Ω–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–æ–º–Ω–∞—Ç. –ß–µ–º –æ–Ω–∞ –≤—ã—à–µ, —Ç–µ–º –≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–µ RM.

5. –í—ã–≤–µ–¥–∏—Ç–µ —Ä–∞–Ω–≥–∏ –∑–Ω–∞—á–µ–Ω–∏–π –∫–æ–ª–æ–Ω–∫–∏ LSTAT(–ø—Ä–æ—Ü–µ–Ω—Ç –Ω–∞—Å–µ–ª–µ–Ω–∏—è —Å –±–æ–ª–µ–µ –Ω–∏–∑–∫–∏–º —Å—Ç–∞—Ç—É—Å–æ–º) –≤ –¥–æ–º–∞—Ö —Å —Å–∞–º–æ–π –¥–æ—Ä–æ–≥–æ–π —Å—Ç–æ–∏–º–æ—Å—Ç—å—é (–∑–Ω–∞—á–µ–Ω–∏–µ LSTAT, —Å—Ç–æ–∏–º–æ—Å—Ç—å, —Ä–∞–Ω–≥) —Å—Ä–µ–¥–∏ –≤—Å–µ—Ö –∑–Ω–∞—á–µ–Ω–∏–π LSTAT. –ù–∞–ø–∏—à–∏—Ç–µ –∫–∞–∫–æ–π –≤—ã–≤–æ–¥ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ —ç—Ç–∏–º –¥–∞–Ω–Ω—ã–º.

In [14]:
tasks+=1
pd.read_sql(
    '''
    SELECT LSTAT, rank_lstat
    FROM (SELECT MEDV, LSTAT, rank() over (order by LSTAT) as rank_lstat, rank() over (order by MEDV desc) as rank_MEDV
    FROM boston
    order by MEDV desc) tab
    WHERE rank_MEDV = 1
    ''',
    con,
)

    LSTAT  rank_lstat
0    1.73           1
1    1.92           2
2    2.88           6
3    2.96           8
4    2.97           9
5    3.16          15
6    3.26          17
7    3.32          18
8    3.70          26
9    3.73          27
10   4.45          41
11   4.63          50
12   5.12          67
13   7.44         141
14   8.88         181
15   9.53         203

–ò–∑ –≤—ã–≤–æ–≤–¥–æ–≤ –º–æ–∂–Ω–æ —Å–∫–∞–∑–∞—Ç—å, —á—Ç–æ –ø—Ä–æ—Ü–µ–Ω—Ç –Ω–∞—Å–µ–ª–µ–Ω–∏—è —Å –±–æ–ª–µ–µ –Ω–∏–∑–∫–∏–º —Å—Ç–∞—Ç—É—Å–æ–º –Ω–µ —Å–ª–∏—à–∫–æ–º –≤—ã—Å–æ–∫ –≤ –¥–æ–º–∞—Ö —Å —Å–∞–º–æ–π –¥–æ—Ä–æ–≥–æ–π —Å—Ç–æ–∏–º–æ—Å—Ç—å—é, –Ω–æ –µ—Å—Ç—å –∏ –∏—Å–∫–ª—é—á–µ–Ω–∏—è.

6. –í—ã–≤–µ–¥–∏—Ç–µ —Å—Ä–µ–¥–Ω—é—é —Å—Ç–æ–∏–º–æ—Å—Ç—å –¥–æ–º–æ–≤ –≥—Ä–∞–Ω–∏—á–∞—â–∏—Ö —Å —Ä–µ–∫–æ–π(CHAS) –∏ –Ω–µ—Ç (–≥—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç, —Å—Ç–æ–∏–º–æ—Å—Ç—å)

In [15]:
tasks+=1
pd.read_sql(
    '''
    SELECT DISTINCT CHAS, mean_medv
    FROM (SELECT CHAS, avg(MEDV) over(PARTITION BY CHAS) AS mean_medv
    FROM boston) tab
    ORDER BY CHAS DESC
    ''',
    con,
)

   CHAS  mean_medv
0   1.0  28.440000
1   0.0  22.093843

7. –í—ã–≤–µ–¥–∏—Ç–µ –≤—Å–µ –∫–æ–ª–æ–Ω–∫–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≤—ã—à–µ, –∫–æ–≥–¥–∞ –¥–æ–º –≥—Ä–∞–Ω–∏—á–∏—Ç —Å —Ä–µ–∫–æ–π (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏) –≤—ã–±–∏—Ä–∞—è –∏–∑ CRIM, ZN, INDUS, CHAS, NOX. –ù–∞–ø–∏—à–∏—Ç–µ –∫–∞–∫–æ–π –≤—ã–≤–æ–¥ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ —ç—Ç–∏–º –¥–∞–Ω–Ω—ã–º.

In [16]:
tasks+=1
pd.read_sql(
    '''
    SELECT INDUS, NOX
    FROM (SELECT CRIM, ZN, INDUS, NOX, CHAS, avg(CRIM) over(PARTITION BY CHAS) as avg_CRIM,  
    avg(ZN) over(PARTITION BY CHAS) as avg_ZN, avg(INDUS) over(PARTITION BY CHAS) as avg_INDUS, 
    avg(NOX) over(PARTITION BY CHAS) as avg_NOX
    FROM boston
    ORDER BY CHAS DESC) tab
    ''',
    con,
)

     INDUS    NOX
0    19.58  0.871
1    19.58  0.871
2    19.58  0.871
3    19.58  0.871
4    19.58  0.605
..     ...    ...
501  11.93  0.573
502  11.93  0.573
503  11.93  0.573
504  11.93  0.573
505  11.93  0.573

[506 rows x 2 columns]

–°—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≤—ã—à–µ, –∫–æ–≥–¥–∞ –¥–æ–º –≥—Ä–∞–Ω–∏—á–∏—Ç —Å —Ä–µ–∫–æ–π –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö INDUS –∏ NOX. INDUS –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –¥–æ–ª—é –∞–∫—Ä–æ–≤ –Ω–µ—Ç–æ—Ä–≥–æ–≤–æ–≥–æ –±–∏–∑–Ω–µ—Å–∞ –Ω–∞ –≥–æ—Ä–æ–¥, —á—Ç–æ –≥–æ–≤–æ—Ä–∏—Ç –æ —Ç–æ–º, —á—Ç–æ –Ω–∞ –≥—Ä–∞–Ω–∏—Ü–∞—Ö —Å —Ä–µ–∫–æ–π –ø–æ–≤—ã—à–µ–Ω–Ω–∞—è –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏—è –Ω–µ—Ç–æ—Ä–≥–æ–≤–æ–≥–æ –±–∏–∑–Ω–µ—Å–∞. –ò–∑-–∑–∞ –ø–æ–≤—ã—à–µ–Ω–Ω–æ–π –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏–∏ –Ω–µ—Ç–æ—Ä–≥–æ–≤–æ–≥–æ –±–∏–∑–Ω–µ—Å–∞ - –ø—Ä–æ–º—ã—à–ª–µ–Ω–Ω–æ–π –∑–∞—Å—Ç—Ä–æ–π–∫–∏ –æ–∫–æ–ª–æ —Ä–µ–∫–∏, –Ω–∞–±–ª—é–¥–∞–µ—Ç—Å—è –ø–æ–≤—ã—à–µ–Ω–Ω–∞—è –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏—è –æ–∫—Å–∏–¥–æ–≤ –∞–∑–æ—Ç–∞ –≤ –≤–æ–∑–¥—É—Ö–µ, —á—Ç–æ –≥–æ–≤–æ—Ä–∏—Ç –æ –ø–æ–≤—ã—à–µ–Ω–Ω—ã—Ö –≤—ã–±—Ä–æ—Å–∞—Ö –≤ –∞—Ç–º–æ—Å—Ñ–µ—Ä—É –≤—Ä–µ–¥–Ω—ã—Ö –≤–µ—â–µ—Å—Ç–≤.

8. –í—ã–≤–µ–¥–∏—Ç–µ –∑–Ω–∞—á–µ–Ω–∏—è –¥–æ–ª–µ–π –ø—Ä–æ–º—ã—à–ª–µ–Ω–Ω–æ–π –∑–∞—Å—Ç—Ä–æ–π–∫–∏(INDUS), –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏–∏ –æ–∫—Å–∏–¥–æ–≤ –∞–∑–æ—Ç–∞(NOX) –∏ –ø–æ –∏—Ö –ø–µ—Ä—Ü–µ–Ω—Ç–∏–ª—è–º - 10, 20 ... 100 ( –ø–µ—Ä—Ü–µ—Ç–∏–ª—å(10,20...100),–∑–Ω–∞—á–µ–Ω–∏–µ INDUS, –∑–Ω–∞—á–µ–Ω–∏–µ NOX). –ù–∞–ø–∏—à–∏—Ç–µ –ø—Ä–æ—Å–ª–µ–∂–∏–≤–∞–µ—Ç—Å—è –º–µ–∂–¥—É –Ω–∏–º–∏ –≤–∑–∞–∏–º–æ—Å–≤—è–∑—å

In [17]:
tasks+=1
pd.read_sql(
    '''
    SELECT percentile(INDUS, 10) AS INDUS_10, percentile(NOX, 10) AS NOX_10, 
    percentile(INDUS, 20) AS INDUS_20, percentile(NOX, 20) AS NOX_20,
    percentile(INDUS, 50) AS INDUS_50, percentile(NOX, 50) AS NOX_50,
    percentile(INDUS, 75) AS INDUS_75, percentile(NOX, 75) AS NOX_75,
    percentile(INDUS, 100) AS INDUS_100, percentile(NOX, 100) AS NOX_100
    FROM boston
    ''',
    con,
)

,INDUS_10,NOX_10,INDUS_20,NOX_20,INDUS_50,NOX_50,INDUS_75,NOX_75,INDUS_100,NOX_100
0,2.91,0.427,4.39,0.442,9.69,0.538,18.1,0.624,27.74,0.871

–ó–¥–µ—Å—å —Ç–∞–∫–∂–µ –≤–∏–¥–Ω–∞ –ø—Ä—è–º–∞—è —Å–≤—è–∑—å –ø–∞–≥—É–±–Ω–æ–≥–æ –≤–ª–∏—è–Ω–∏—è –ø—Ä–æ–º—ã—à–ª–µ–Ω–Ω–æ—Å—Ç–∏ –Ω–∞ –æ–∫—Ä—É–∂–∞—é—â—É—é —Å—Ä–µ–¥—É. –ß–µ–º –±–æ–ª—å—à–µ –ø—Ä–æ–º—ã—à–ª–µ–Ω–Ω–æ–π –∑–∞—Å—Ç—Ä–æ–π–∫–∏, —Ç–µ–º –≤—ã—à–µ –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏—è –æ–∫—Å–∏–¥–∞ –∞–∑–æ—Ç–∞ –≤ –≤–æ–∑–¥—É—Ö–µ.

CRIM - —É—Ä–æ–≤–µ–Ω—å –ø—Ä–µ—Å—Ç—É–ø–Ω–æ—Å—Ç–∏ –Ω–∞ –¥—É—à—É –Ω–∞—Å–µ–ª–µ–Ω–∏—è
ZN - –¥–æ–ª—è –∑–µ–º–µ–ª—å –ø–æ–¥ –∂–∏–ª—É—é –∑–∞—Å—Ç—Ä–æ–π–∫—É –∑–æ–Ω–∏—Ä–æ–≤–∞–Ω–∞ –ø–æ–¥ —É—á–∞—Å—Ç–∫–∏ –ø–ª–æ—â–∞–¥—å—é –±–æ–ª–µ–µ 25 000 –∫–≤. —Ñ—É—Ç–æ–≤.
INDUS - –¥–æ–ª—è –∞–∫—Ä–æ–≤ –Ω–µ—Ç–æ—Ä–≥–æ–≤–æ–≥–æ –±–∏–∑–Ω–µ—Å–∞ –Ω–∞ –≥–æ—Ä–æ–¥.
CHAS - 1, –µ—Å–ª–∏ –≥—Ä–∞–Ω–∏—á–∏—Ç —Å —Ä–µ–∫–æ–π, 0 –∏–Ω–∞—á–µ
NOX - –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏—è –æ–∫—Å–∏–¥–æ–≤ –∞–∑–æ—Ç–∞ (—á–∞—Å—Ç–µ–π –Ω–∞ 10 –º–∏–ª–ª–∏–æ–Ω–æ–≤)
RM - —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–æ–º–Ω–∞—Ç –≤ –∫–≤–∞—Ä—Ç–∏—Ä–µ
AGE - –¥–æ–ª—è –∂–∏–ª—ã—Ö –¥–æ–º–æ–≤, –ø–æ—Å—Ç—Ä–æ–µ–Ω–Ω—ã—Ö –¥–æ 1940 –≥.
DIS - –≤–∑–≤–µ—à–µ–Ω–Ω—ã–µ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏—è –¥–æ –ø—è—Ç–∏ —Ü–µ–Ω—Ç—Ä–æ–≤ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏ –ë–æ—Å—Ç–æ–Ω–∞
RAD - –∏–Ω–¥–µ–∫—Å –¥–æ—Å—Ç—É–ø–Ω–æ—Å—Ç–∏ –∫ —Ä–∞–¥–∏–∞–ª—å–Ω—ã–º –º–∞–≥–∏—Å—Ç—Ä–∞–ª—è–º
TAX - –ø–æ–ª–Ω–∞—è —Å—Ç–∞–≤–∫–∞ –Ω–∞–ª–æ–≥–∞ –Ω–∞ –∏–º—É—â–µ—Å—Ç–≤–æ –∑–∞ 10 000 –¥–æ–ª–ª–∞—Ä–æ–≤ –°–®–ê
PTRATIO - —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ —É—á–µ–Ω–∏–∫–æ–≤ –∏ —É—á–∏—Ç–µ–ª–µ–π –ø–æ –≥–æ—Ä–æ–¥–∞–º
B - 1000(Bk - 0.63)^2, –≥–¥–µ Bk –¥–æ–ª—è —á–µ—Ä–Ω–æ–∫–æ–∂–∏—Ö –ª—é–¥–µ–π –ø–æ –≥–æ—Ä–æ–¥–∞–º
LSTAT - % –±–æ–ª–µ–µ –Ω–∏–∑–∫–æ–≥–æ —Å—Ç–∞—Ç—É—Å–∞ –Ω–∞—Å–µ–ª–µ–Ω–∏—è
MEDV - –°—Ä–µ–¥–Ω—è—è —Å—Ç–æ–∏–º–æ—Å—Ç—å –¥–æ–º–æ–≤ –≤ 1000 –¥–æ–ª–ª–∞—Ä–æ–≤.

In [18]:
if tasks==8:
    print('–í—ã–ø–æ–ª–Ω–µ–Ω—ã –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è üôÇ')
else:
    print('–í—ã–ø–æ–ª–Ω–µ–Ω—ã –Ω–µ –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è! üôÄ')

–í—ã–ø–æ–ª–Ω–µ–Ω—ã –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è üôÇ